In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('201804-citibike-tripdata.csv')
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,840,2018-04-01 03:07:39.0700,2018-04-01 03:21:39.1280,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,1
1,1438,2018-04-01 07:20:02.2150,2018-04-01 07:44:00.5690,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,1
2,219,2018-04-01 08:11:14.4060,2018-04-01 08:14:53.7880,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,1
3,410,2018-04-01 08:52:32.3730,2018-04-01 08:59:23.2190,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,1
4,485,2018-04-01 09:37:34.3270,2018-04-01 09:45:39.9980,72,W 52 St & 11 Ave,40.767272,-73.993929,3159,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,1

In [3]:
df2 = pd.read_csv('201805-citibike-tripdata.csv')
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1

In [4]:
df3 = pd.read_csv('201806-citibike-tripdata.csv')
df3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1

In [5]:
df4 = pd.read_csv('201807-citibike-tripdata.csv')
df4.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72,W 52 St & 11 Ave,40.767272,-73.993929,3236,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72,W 52 St & 11 Ave,40.767272,-73.993929,529,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,453,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72,W 52 St & 11 Ave,40.767272,-73.993929,465,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72,W 52 St & 11 Ave,40.767272,-73.993929,3425,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [6]:
df5 = pd.read_csv('201808-citibike-tripdata.csv')
df5.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [7]:
df6 = pd.read_csv('201809-citibike-tripdata.csv')
df6.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [8]:
df7 = pd.read_csv('201810-citibike-tripdata.csv')
df7.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2018-10-01 00:00:00.7010,2018-10-01 00:05:30.8490,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995,1
1,309,2018-10-01 00:00:13.5780,2018-10-01 00:05:23.2310,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967,1
2,734,2018-10-01 00:00:16.6040,2018-10-01 00:12:31.5050,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983,2
3,788,2018-10-01 00:00:35.0670,2018-10-01 00:13:43.5780,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988,1
4,1136,2018-10-01 00:00:38.1410,2018-10-01 00:19:34.6490,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969,0

In [9]:
df8 = pd.read_csv('201811-citibike-tripdata.csv')
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2018-11-01 00:00:12.9100,2018-11-01 00:04:27.3870,3522.0,37 St & 24 Ave,40.770148,-73.912094,3513.0,21 St & Hoyt Ave S,40.774645,-73.923706,34117,Subscriber,1992,1
1,833,2018-11-01 00:00:16.3440,2018-11-01 00:14:09.4320,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,251.0,Mott St & Prince St,40.723180,-73.994800,32569,Subscriber,1986,2
2,683,2018-11-01 00:00:17.6630,2018-11-01 00:11:40.9170,3405.0,5 St & 6 Ave,40.670484,-73.982090,3584.0,Eastern Pkwy & Franklin Ave,40.670777,-73.957680,15795,Subscriber,1985,1
3,1840,2018-11-01 00:00:18.7970,2018-11-01 00:30:59.3050,3150.0,E 85 St & York Ave,40.775369,-73.948034,297.0,E 15 St & 3 Ave,40.734232,-73.986923,33290,Subscriber,1994,1
4,1212,2018-11-01 00:00:47.3230,2018-11-01 00:20:59.8840,325.0,E 19 St & 3 Ave,40.736245,-73.984738,212.0,W 16 St & The High Line,40.743349,-74.006818,17411,Subscriber,1989,1

In [10]:
df9 = pd.read_csv('201812-citibike-tripdata.csv')
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [11]:
df10 = pd.read_csv('201901-citibike-tripdata.csv')
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [12]:
df11 = pd.read_csv('201902-citibike-tripdata.csv')
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [13]:
df12 = pd.read_csv('201903-citibike-tripdata.csv')
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [14]:
citibike_last1year = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])
citibike_last1year.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,840,2018-04-01 03:07:39.0700,2018-04-01 03:21:39.1280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,1
1,1438,2018-04-01 07:20:02.2150,2018-04-01 07:44:00.5690,72.0,W 52 St & 11 Ave,40.767272,-73.993929,426.0,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,1
2,219,2018-04-01 08:11:14.4060,2018-04-01 08:14:53.7880,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,1
3,410,2018-04-01 08:52:32.3730,2018-04-01 08:59:23.2190,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,1
4,485,2018-04-01 09:37:34.3270,2018-04-01 09:45:39.9980,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3159.0,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,1
5,524,2018-04-01 09:37:36.8160,2018-04-01 09:46:21.0160,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3159.0,W 67 St & Broadway,40.774925,-73.982666,33043,Subscriber,1985,1
6,803,2018-04-01 10:54:46.8630,2018-04-01 11:08:09.9150,72.0,W 52 St & 11 Ave,40.767272,-73.993929,499.0,Broadway & W 60 St,40.769155,-73.981918,29803,Customer,1969,0
7,810,2018-04-01 10:54:47.0610,2018-04-01 11:08:17.3890,72.0,W 52 St & 11 Ave,40.767272,-73.993929,499.0,Broadway & W 60 St,40.769155,-73.981918,30326,Customer,1969,0
8,1133,2018-04-01 10:56:38.3800,2018-04-01 11:15:32.1560,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,31917,Subscriber,1988,1
9,2484,2018-04-01 11:14:49.2160,2018-04-01 11:56:13.6380,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3366.0,West End Ave & W 107 St,40.802117,-73.968181,27616,Subscriber,1971,1
10,1661,2018-04-01 11:17:00.5480,2018-04-01 11:44:41.9070,72.0,W 52 St & 11 Ave,40.767272,-73.993929,309.0,Murray St & West St,40.714979,-74.013012,31316,Customer,1969,0
11,668,2018-04-01 11:40:27.4160,2018-04-01 11:51:36.0840,72.0,W 52 St & 11 Ave,40.767272,-73.993929,484.0,W 44 St & 5 Ave,40.755003,-73.980144,30631,Subscriber,1987,1
12,915,2018-04-01 12:01:31.9230,2018-04-01 12:16:47.9010,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3224.0,W 13 St & Hudson St,40.739974,-74.005139,31005,Subscriber,1996,1
13,845,2018-04-01 12:03:58.3040,2018-04-01 12:18:03.8780,72.0,W 52 St & 11 Ave,40.767272,-73.993929,482.0,W 15 St & 7 Ave,40.739355,-73.999318,32549,Subscriber,1988,1
14,477,2018-04-01 12:14:09.6160,2018-04-01 12:22:07.4420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,32059,Subscriber,1968,1
15,152,2018-04-01 12:15:47.1890,2018-04-01 12:18:20.1580,72.0,W 52 St & 11 Ave,40.767272,-73.993929,478.0,11 Ave & W 41 St,40.760301,-73.998842,26343,Subscriber,1991,1
16,247,2018-04-01 12:20:57.6640,2018-04-01 12:25:05.5880,72.0,W 52 St & 11 Ave,40.767272,-73.993929,479.0,9 Ave & W 45 St,40.760193,-73.991255,31128,Subscriber,1980,1
17,1329,2018-04-01 12:38:32.0920,2018-04-01 13:00:41.8300,72.0,W 52 St & 11 Ave,40.767272,-73.993929,426.0,West St & Chambers St,40.717548,-74.013221,25130,Subscriber,1979,1
18,1476,2018-04-01 12:57:35.9080,2018-04-01 13:22:12.5340,72.0,W 52 St & 11 Ave,40.767272,-73.993929,237.0,E 11 St & 2 Ave,40.730473,-73.986724,27008,Subscriber,1992,1
19,470,2018-04-01 13:02:45.5820,2018-04-01 13:10:36.1950,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,32492,Subscriber,1969,0

In [15]:
citibike_last6months = pd.concat([df7,df8,df9,df10,df11,df12])
citibike_last6months.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2018-10-01 00:00:00.7010,2018-10-01 00:05:30.8490,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995,1
1,309,2018-10-01 00:00:13.5780,2018-10-01 00:05:23.2310,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967,1
2,734,2018-10-01 00:00:16.6040,2018-10-01 00:12:31.5050,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983,2
3,788,2018-10-01 00:00:35.0670,2018-10-01 00:13:43.5780,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988,1
4,1136,2018-10-01 00:00:38.1410,2018-10-01 00:19:34.6490,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969,0
5,623,2018-10-01 00:00:39.0770,2018-10-01 00:11:02.7910,3092.0,Berry St & N 8 St,40.719009,-73.958525,3116.0,Huron St & Franklin St,40.732660,-73.958260,17904,Customer,1983,1
6,498,2018-10-01 00:00:45.6350,2018-10-01 00:09:04.4050,2009.0,Catherine St & Monroe St,40.711174,-73.996826,316.0,Fulton St & William St,40.709560,-74.006536,26719,Subscriber,1992,2
7,103,2018-10-01 00:00:49.1740,2018-10-01 00:02:32.5410,3309.0,E 97 St & 3 Ave,40.785920,-73.948603,3327.0,3 Ave & E 100 St,40.787721,-73.947283,21304,Subscriber,1983,1
8,484,2018-10-01 00:00:55.9960,2018-10-01 00:09:00.5120,2009.0,Catherine St & Monroe St,40.711174,-73.996826,316.0,Fulton St & William St,40.709560,-74.006536,16296,Subscriber,1995,1
9,252,2018-10-01 00:01:01.8550,2018-10-01 00:05:14.6200,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,3164.0,Columbus Ave & W 72 St,40.777057,-73.978985,17174,Subscriber,1973,1
10,583,2018-10-01 00:01:03.0260,2018-10-01 00:10:46.1460,531.0,Forsyth St & Broome St,40.718939,-73.992663,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,26832,Subscriber,1969,1
11,1099,2018-10-01 00:01:06.8940,2018-10-01 00:19:26.7230,3663.0,Sterling Pl & 7 Ave,40.677165,-73.973828,3661.0,Montgomery St & Franklin Ave,40.666439,-73.960556,34098,Customer,1989,2
12,389,2018-10-01 00:01:10.0780,2018-10-01 00:07:39.8720,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,358.0,Christopher St & Greenwich St,40.732916,-74.007114,33878,Subscriber,1978,2
13,164,2018-10-01 00:01:09.2910,2018-10-01 00:03:54.2170,3507.0,Park Ave & E 124 St,40.804555,-73.939686,3518.0,Lenox Ave & W 126 St,40.808442,-73.945209,32740,Subscriber,1996,1
14,405,2018-10-01 00:01:09.1020,2018-10-01 00:07:55.0120,3357.0,W 106 St & Amsterdam Ave,40.800836,-73.966449,3623.0,W 120 St & Claremont Ave,40.810949,-73.963400,21128,Subscriber,1984,1
15,423,2018-10-01 00:01:17.3880,2018-10-01 00:08:20.6440,539.0,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,3108.0,Nassau Ave & Russell St,40.725570,-73.944340,31384,Subscriber,1991,1
16,511,2018-10-01 00:01:29.3460,2018-10-01 00:10:00.5280,492.0,W 33 St & 7 Ave,40.750200,-73.990931,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,32672,Subscriber,1978,1
17,660,2018-10-01 00:01:31.8640,2018-10-01 00:12:32.6330,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33748,Subscriber,1979,1
18,235,2018-10-01 00:01:49.9670,2018-10-01 00:05:45.7250,3701.0,Cliff St & Fulton St,40.708318,-74.005041,279.0,Peck Slip & Front St,40.707873,-74.001670,28313,Subscriber,1982,1
19,1312,2018-10-01 00:01:53.8260,2018-10-01 00:23:46.4980,3159.0,W 67 St & Broadway,40.774925,-73.982666,3263.0,Cooper Square & Astor Pl,40.729515,-73.990753,34795,Subscriber,1981,1

In [16]:
citibike_4months = pd.concat([df3,df4,df10,df11])
citibike_4months.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72.0,W 52 St & 11 Ave,40.767272,-73.993929,477.0,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72.0,W 52 St & 11 Ave,40.767272,-73.993929,457.0,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72.0,W 52 St & 11 Ave,40.767272,-73.993929,379.0,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72.0,W 52 St & 11 Ave,40.767272,-73.993929,459.0,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1
5,753,2018-06-01 06:11:52.5990,2018-06-01 06:24:26.1980,72.0,W 52 St & 11 Ave,40.767272,-73.993929,446.0,W 24 St & 7 Ave,40.744876,-73.995299,27073,Subscriber,1981,1
6,687,2018-06-01 07:15:15.5650,2018-06-01 07:26:42.8670,72.0,W 52 St & 11 Ave,40.767272,-73.993929,212.0,W 16 St & The High Line,40.743349,-74.006818,14612,Subscriber,1968,1
7,619,2018-06-01 07:40:02.5780,2018-06-01 07:50:22.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,458.0,11 Ave & W 27 St,40.751396,-74.005226,16415,Subscriber,1990,2
8,819,2018-06-01 07:43:01.9580,2018-06-01 07:56:41.3280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,212.0,W 16 St & The High Line,40.743349,-74.006818,31551,Subscriber,1981,1
9,335,2018-06-01 07:49:47.9340,2018-06-01 07:55:23.3090,72.0,W 52 St & 11 Ave,40.767272,-73.993929,514.0,12 Ave & W 40 St,40.760875,-74.002777,26058,Subscriber,1988,2
10,325,2018-06-01 07:52:11.9220,2018-06-01 07:57:37.6180,72.0,W 52 St & 11 Ave,40.767272,-73.993929,514.0,12 Ave & W 40 St,40.760875,-74.002777,31268,Subscriber,1994,1
11,1030,2018-06-01 07:52:49.9330,2018-06-01 08:10:00.4120,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,32090,Subscriber,1961,1
12,390,2018-06-01 08:06:25.1360,2018-06-01 08:12:55.6120,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,27374,Subscriber,1987,1
13,597,2018-06-01 08:09:46.5290,2018-06-01 08:19:44.4270,72.0,W 52 St & 11 Ave,40.767272,-73.993929,524.0,W 43 St & 6 Ave,40.755273,-73.983169,20140,Subscriber,1960,2
14,426,2018-06-01 08:15:12.4750,2018-06-01 08:22:19.0420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,173.0,Broadway & W 49 St,40.760683,-73.984527,15734,Subscriber,1983,1
15,748,2018-06-01 08:24:09.5300,2018-06-01 08:36:38.1680,72.0,W 52 St & 11 Ave,40.767272,-73.993929,212.0,W 16 St & The High Line,40.743349,-74.006818,30907,Subscriber,1973,1
16,1265,2018-06-01 08:37:14.5810,2018-06-01 08:58:20.5000,72.0,W 52 St & 11 Ave,40.767272,-73.993929,382.0,University Pl & E 14 St,40.734927,-73.992005,20732,Subscriber,1991,1
17,750,2018-06-01 08:37:32.6130,2018-06-01 08:50:03.2680,72.0,W 52 St & 11 Ave,40.767272,-73.993929,462.0,W 22 St & 10 Ave,40.746920,-74.004519,28341,Subscriber,1992,1
18,940,2018-06-01 08:39:48.1250,2018-06-01 08:55:28.7050,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3141.0,1 Ave & E 68 St,40.765005,-73.958185,33317,Subscriber,1971,1
19,645,2018-06-01 08:42:47.1870,2018-06-01 08:53:32.7520,72.0,W 52 St & 11 Ave,40.767272,-73.993929,456.0,E 53 St & Madison Ave,40.759711,-73.974023,32174,Subscriber,1984,1

In [17]:
citibike_last6months  .to_csv('citibike_last6months.csv', sep = ',')

In [18]:
##citibike_last1year .to_csv('citibike_last1year.csv', sep = ',')

In [20]:
citibike_4months.to_csv('citibike_4months.csv', sep = ',')